<mat-toolbar color="primary">
  <button mat-button id="driverorders" class="frstorderbtn" [matMenuTriggerFor]="usersMenu">Orders</button>
  <mat-menu  #usersMenu="matMenu" yPosition="below" >
    <button (click)="gotoUndelivered()"  mat-menu-item>Undelivered</button>
    <button  (click)="gotoDelivered()" mat-menu-item>Delivered</button>

  </mat-menu>
  <span class="fill-space"></span>
  <button (click)="clicked()" style="margin-right:4%" mat-button class="thrdorderbtn">Refresh</button>
<button (click)="logout()" mat-button class="thrdorderbtn">Logout</button>
</mat-toolbar>
