.frstorderbtn{
  margin-left: 2%;
}

.navbar-custom {
  background-color: #089000;
}
.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
  font-weight:bold;
}
::ng-deep .mat-menu-content{
  background-color:#3f51b5;

}
::ng-deep .mat-menu-content > button{
  background-color:#3f51b5;
  color: #FFFFFF;
  font-weight:bold;
}
.scndorderbtn
{
  margin-left:2%
}
.frstorderbtn
{
  margin-left:5%;

}
.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.thrdorderbtn{
  margin-right: 3%;;
}
